.news {
  margin-bottom: 95px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

@media (min-width: 576px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-list {
      grid-template-columns: repeat(4, 1fr);
  }
}

.product-item {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.product-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-sale,
.product-new {
  background: #e97171;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.product-new {
  background: #2ec1ac;
}

.product__thumbnail {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

@media (min-width: 768px) {
  .product__thumbnail {
      height: 302px;
  }
}

.product-item:hover .product__thumbnail {
  transform: scale(1.1);
}

.product-info {
  padding: 15px;
  background: #f4f5f7;
}

.product__name,
.product__link,
.product__category {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.product__link,
.product__category {
  text-decoration: none;
  color: #3a3a3a;
}

.product__category {
  color: #898989;
  display: block;
  margin: 13px 0;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.product-price__new {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
}

.product-item:hover .product-actions {
  opacity: 1;
}

.product-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.product-actions > *,
.product-actions > button {
  margin-bottom: 15px;
  cursor: pointer;
}

.product-actions > button {
  width: 200px;
  height: 30px;
}
.product__name {
  color: #000 !important; /* Chuyển màu chữ thành đen */
  text-decoration: none !important; /* Loại bỏ gạch chân */
}
